coffee
samples/*
!samples/*.bn
llvm/*
!llvm/README.md
!llvm/*.ll
!llvm/compile.sh

src/*
src/**/*
!src/*/
!src/coffee.ll
!src/**/*/
!src/compile/__test__/*
!src/**/*.bn
!src/*.txt
!src/README.md
!src/*.bn
!src/build
*.dSYM
coffee.s
